<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


</head>
<body>
{#    Display django.contrib.messages as Bootstrap alerts#}
    {%  bootstrap_messages %}
<header>
    <nav>
        <a href="{% url "belegungen:index" %}" class="fas fa-university fa-3x" style="margin: 3vh 10vw"></a>
    </nav>

    <div class="c1 container">
        <div class="hdr row ">
            <div class="left col col-auto">
                {% block header_content_left %}
                    <hr>
                    <p style="height: 100px; font-size:2.5vh">Lehrveranstaltungen 2018</p>
                    <hr>
                    <h1 class="titel" style="margin: 0 auto 50px auto">{{ page_title }}</h1>
                {% endblock %}
            </div>
            <div class="center col-auto">
                {% block main_header_content %}

                {% endblock %}
            </div>
            <div class="right col col-6">
                {% block header_content_right %}

                {% endblock %}
            </div>
        </div>
    </div>
</header>
<main>
    <div class="c2 container-fluid" style="min-height: 700px">
        <div class="row">
            <div class="left col col-2">
                {% block content_left %}

                {% endblock %}
            </div>
            <div class="center col-auto">
                {% block main_content %}

                {% endblock %}
            </div>
            <div class="right col col-2">
                {% block content_right %}

                {% endblock %}
            </div>
        </div>
    </div>

</main>
<footer>
    <div class="c3 container">
        <div class="ft row ">
            <div class="left col col-4">
                {% block footer_content_left %}
                   <h3> {% include "belegungen/footer.html" %} </h3>
                {% endblock %}
            </div>
            <div class="center col-auto">
                {% block main_footer_content %}

                {% endblock %}
            </div>
            <div class="right col col-6">
                {% block footer_content_right %}

                {% endblock %}
            </div>
        </div>
    </div>
</footer>
</body>
</html>
