{%  extends 'belegungen/base.html' %}


{% block main_content %}

    <button type="button" class="btn btn-warning">
        <a href="{% url "belegungen:modulList" %}">Modulübersicht</a>
    </button>


    <button type="button" class="btn btn-warning">
        <a href="{% url "belegungen:modulwahl" %}">zur Modulbelegung</a>
    </button>


    <button type="button" class="btn btn-warning">
        <a href="{% url 'belegungen:studenten_liste' %}" >Hier geht es zur Studentenverwaltung</a>
    </button>
{% endblock %}
