{%  extends 'belegungen/base.html' %}

{% block main_content %}

{#    <h2 class="titel" style="margin: 0 auto 50px auto"> {{ lv.lv_name }} </h2>#}

    <p>
        <b>Lehrveranstaltung: {{ lv.lv_nr }}, {{ lv.lv_name }} wird gehalten von: {{ lv.doz_name }}. </b>
    </p>
    <hr>
    <h4>Eingeschriebene Studenten</h4>

    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Vorname</th>
            <th>Matrikelnummer</th>
        </tr>
        </thead>
        {% for s in student%}
            <tr>
                <td>{{ s.stud_name }}</td>
                <td>{{ s.stud_vorname }}</td>
                <td>{{ s.matrikel_nr }}</td>
            </tr>
        {% endfor %}
    </table>


    {#    Modulwahl noch nicht verlinkt, muss in views korrigiert werden #}
    <button type="button" class="btn btn-light">
        <a href="{% url "belegungen:modulwahl" %}">zur Belegung</a>
    </button>


{% endblock %}
