{%  extends 'belegungen/base.html' %}



{% block main_content %}

    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <br>
        {% for l in modul %}
            <input type="radio" name="modul" id="modul{{ forloop.counter }}" value="{{ l.id }}">
            <label for="modul{{ forloop.counter }}"><b>{{ l.lv_name }}</b></label><br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-info">
            <a href="{% url "belegungen:index" %}">
                Auswahl senden
            </a>
        </button>

    </form>

{% endblock %}
