{%  extends 'belegungen/base.html' %}

{% block main_content %}
    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th style="min-width: 250px">Name</th>
            <th style="min-width: 250px">Vorname</th>
            <th>Matrikelnummer</th>
        </tr>
        </thead>
            <tr>
                <td>{{ name }}</td>
                <td>{{ vorname }}</td>
                <td>{{ matrikel }}</td>
            </tr>
    </table>

{#    {% if lv %}#}
{#        <ul>#}
{#            {% for s in lv.student_set.all %}#}
{#                <li>#}
{#                    {{ s.matrikel_nr }} -- {{ s.stud_name }}, {{ s.stud_vorname }}#}
{#                    student{{ lv.lv_name|pluralize }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#                #}
{#    {% else %}#}
{#        <p> {{ student.matrikel_nr }} -- {{ student.student_name }}, {{ student.student_vorname }} ist#}
{#            in keine Lehrveranstaltungen eingeschrieben. <br>#}
{#            Bitte eine <a href = "{% url "belegungen:modulwahl" none %}">Lehrveranstaltung belegen</a>.</p>#}
{#    {% endif %}#}


{% endblock %}
